#
# Miscellaneous I2C chip drivers configuration
#
# *** DEPRECATED! Do not add new entries! See Makefile ***
#

menu "Miscellaneous I2C Chip support"

config SENSORS_MT9T013
	tristate "MT9T013 Camera Driver"
	depends on I2C
	default y
	help
	 MT9T013 Camera Driver implemented by HTC.

config SENSORS_MICROP_NG
        tristate "MicroP driver for HTC Phones"
        depends on I2C_MSM
        default y
        help
          If you say yes here you get support for the MicroP-LED chip
          driver which controls LEDs and other miscellaneous functions
          on some HTC devices.

          This driver can also be built as a module.  If so, the module
          will be called microp-ng.


config SENSORS_KXSD9
	tristate "Kionix KXSD9 i2c Chip Driver"
	depends on I2C_MSM
	default n
	help
	  If you say yes here, you get support for the Kionix-KXSD9 chip 
	  driver which controls the 3-axis accelerometer found in the 
	  HTC Raphael (Touch Pro) and HTC Diamond mobile phones.

endmenu
